#tl_navigation .group-catalog-manager-bundle {
  background: url("/bundles/alnvcontaocatalogmanager/app/app-icon.svg") 3px 2px no-repeat;
  background-size: 15px 15px;
}
.resize-image {
  width: auto;
  height: 18px;
}
.tl_tree .tl_left img {
  height: 18px;
}
.tl_tree .tl_right img {
  height: 16px;
}

a.palettes img,
a.fields img {
  max-width: 16px;
  height: auto;
}
